<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunhou.openapi.dao.mysql.OauthLimitDao">

	<resultMap id="BaseResultMap" type="com.yunhou.openapi.model.oauth.OauthLimit">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="resource" property="resource" jdbcType="VARCHAR" />
		<result column="method" property="method" jdbcType="VARCHAR" />
		<result column="limit_count" property="limitCount" jdbcType="BIGINT" />
		<result column="limit_time" property="limitTime" jdbcType="VARCHAR" />
		<result column="record_create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="record_last_modify" property="lastModify" jdbcType="TIMESTAMP" />
		<result column="record_status" property="recordStatus" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectAll" resultMap="BaseResultMap">
		select * from openapi_oauth_limit where record_status != 'DELETE'
	</select>

	<insert id="insert" parameterType="com.yunhou.openapi.model.oauth.OauthLimit">
		insert into
		openapi_oauth_limit(resource,method,limit_count,limit_time,record_create_time,record_last_modify)
		values
		(
		#{resource,jdbcType=VARCHAR},#{method,jdbcType=VARCHAR},#{limitCount,jdbcType=VARCHAR},#{limitTime,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
</mapper>
